<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ShopMapper">
	<resultMap type="Shop" id="shopInfoMap">
		<id column="shop_num" property="shopNum" />
		<id column="shop_name" property="shopName" />
		<id column="product_url" property="productUrl" />
		<id column="main_img_url" property="mainImgUrl" />
	</resultMap>
	
	<select id="getAllShop" resultType="Shop" resultMap="shopInfoMap">
		select * FROM shop_list
	</select>
	
</mapper>