@CHARSET "UTF-8";

#formPage{
	position:fixed;
	margin-top:-40px;
	padding-top:40px;
	width:100%;
	height:100%;
	background-image: url('/dailyfit/img/background1.jpg');
	background-repeat: no-repeat;
	background-size :100% 100%;
	vertical-align: middle;
}
.formGroup{
	width:70%;
	margin: 0px 15%;
}
.title{
	color : white;
	width: 20%;
	text-align: center;
}
#stepTwo div div{
	margin-left:5%;
	display: inline-block;
	width: 75%;
	
}

#btn button{
	background-color: #6ECDE1;
	color: #fff;
	border: 0;
}
body {
	width: 100%;
	height: 100%;
}
.b {
	font-weight: bold;
}
#headBar {
	position: fixed;
	z-index: 20;
	background-color: #6ECDE1;
	width: 100%;
	height: 40px;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	line-height: 2.4em;
	top: 0px;
	border: none;
	padding: 0px;
}
.font {
	font-family: HanSans;
	text-shadow: none !important;
}