@CHARSET "UTF-8";


#contents {
	font-size: 14px;
	height: 100%;
	font-family: HanSans;
	text-shadow: none;
}
a:hover{
	text-decoration: none;
}
.activeBar {
	border-bottom: 5px solid #6ECDE1;
}

.tabWrap {
	white-space: nowrap;
	line-height: 0.5em;
}

.eachTab {
	width: 50%;
	line-height: 2.4em;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-family: HanSans;
	display: inline-block;
	white-space: normal;
}

.tripleTab {
	width: 33.33%;
}

.eachTab:hover {
	cursor: pointer;
}

.eachContents{
	width:100%; 
	padding:0 10px; 
}
.item {
	position: relative;
	clear: both;
	margin-bottom: 15px;
	margin-top: 1px;
}

.saleList {
	padding: 3px 10px;
	list-style-type: none;
	line-height: 45px;
}

.saleItem {
	padding: 0px 10px;
	position: relative;
	clear: both;
	margin: 3px;
	vertical-align: middle;
	background-color: rgb(110, 205, 225);
	color: rgb(255, 255, 255);
}

.item img {
	width: 100%;
	height: 150px;
}

.shop {
	clear: both;
	height: 100px;
	vertical-align: middle;
	text-align: left;
	font-weight: 600;
	font-size: 20px;
	padding: 20px;
	background-image: url('/dailyfit/img/shop_back.PNG');
	background-size: 100% 100px;
	width: 100%;
	color: black;
}

.shop span {
	text-indent: 0px;
	margin-left: 4px;
}

.premium {
	width: 100%;
	position: relative;
	height: 180px;
	font-size: 17px;
	background-size: 100% 100%;
	color: black;
}

.premium p {
	position: relative;
	color: white;
	line-height: 20px;
	text-align: center;
	padding: 0px 10px;
	margin: 0 10px;
	bottom: 50px;
}

.itemTitle {
	padding-left: 40px;
	font-size: 19px;
	font-weight: bolder;
}

.subTitle {
	padding: 0px;
	font-size: 14px;
}

.distance {
	font-size: 15px;
	font-weight: bold;
	float: right;
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 80px;
	height: 80px;
	background-color: rgb(242, 242, 242);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	line-height: 80px;
	text-align: center;
}

.post {
	position: absolute;
	float: right;
	left: 70%;
	margin-right: 20px;
	font-size: 14px;
}

.lh45 {
	line-height: 45px;
	margin: 0 3px;
}

#cart {
	background-color: #fff;
	text-shadow: none;
	width: 100%;
	position: fixed;
	font-family: HanSans;
	z-index: 16;
}

#fold {
	background-color: white;
}

#cart button {
	border-radius: 0em;
	margin: 0;
	background-color: #6ECDE1;
	color: #fff;
	border: 0;
	line-height: 30px;
	font-size: 18px;
}

#orderBox {
	padding: 0 2px;
}

#orderBox button {
	border: 1px solid #6ECDE1;
	width: 50%;
}

.myButton {
	color: #5bc0de;
	border-color: #46b8da;
	color: #fff;
}

.amount {
	height: 12px !important;
	font-size: 12px;
}

#buyTable>tbody>tr>td {
	padding: 0px 4px;
	vertical-align: middle;
}

.shopCustom img {
	width: 100%;
}

