@CHARSET "UTF-8";

.mySettingContent{
	height:100%;
	margin:1em;
}
.mySettingContent > div > *{
	padding:0.3em;
	margin:0em;	
	margin-left:1.5em;
}
.generalInfo{
	font-size:1.2em;
}
.generalInfo div{
	margin-bottom:1em;
}
.generalInfo > div > span{
	display: inline-block;
	width:40%;
}

.menuFont{
	font-size : 1.3em;
	font-weight: bold;
	border-width:1px;
	border-top-style: double;
	border-bottom-style: outset;
	margin:0em;	
	padding-top:0.6em;
	padding-bottom:0.6em;
}
.subMenu{
	font-weight: bold;
}
.subInfo{
	text-align: center;
}
.editImportantInfo{	
	margin-bottom:1.5em;
}
.editImportantInfo > span{
	display:inline-block;
	text-align:center;
	width:35%;
}
.editImportantInfo > span > button{
	font-size: 1em;
	padding: 0.5em;	
	padding-left: 0px;
	padding-right: 0px;
	width : 7em;
	margin:auto;
}
input{
	margin:0px !important;
}
#pushAlamDiv{
	float:left;
	margin-left:2em;
}
#vibrateDiv{
	margin-left:14em;	
}
.appSettingText{
	margin-left:3em;
	margin-bottom:1.5em;
	margin-top:1em;
}
#editInfoPopup{	
	width:20em;
	height:23em;
}
#generalInfoEdit{
	width:3em;
	font-size:0.7em;
	float:right;
	margin-right:1.5em;
}
.appSettingChild > * > input{
	margin-top:0.5em !important;
}
.editInfo{
	margin-left:1.1em;
}
.editInfo div{
	margin-bottom : 1em;
}
.editInfo >div> .subInfo{
	float:right;
}
.editInfo >div> .subInfo > *{
	font-size:0.5em;
	margin:0;
}
.ui-select{
	width:12em;
} 
.ui-select .ui-btn {	
	font-size:0.5em;
	height:2.4em;
}
.ui-input-text input{
	height:1.5em;
}
#generalInfoChangeDiv > span{
	margin-right:2.3em;
}
#generalInfoChangeBtn, #generalInfoCancleBtn{
	margin-top:1em;
}

